header {

    nav{
        font-size: 1.8rem;
        color:black;
        font-family: 'Bebas Neue', cursive;}

}
.logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    margin: 8px;
  }
  
  .logo img {
    width: 85px; 
    height: auto; 
  }
  @media (max-width: 1000px) {
    .logo {
      display: none;
    }
    @media (max-width: 480px) {
      #portada{display: none;
      }}
  
  }