.servicios {text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    margin-bottom: 60px;
    margin-top: 50px;}
.parentS {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    }
    
    .divS1 { grid-area: 1 / 1 / 2 / 2; }
    .divS2 { grid-area: 1 / 2 / 2 / 3; }
    .divS3 { grid-area: 2 / 2 / 3 / 3; }
    .divS4 { grid-area: 2 / 1 / 3 / 2; }
    .divS5 { grid-area: 3 / 1 / 4 / 2; }
    .divS6 { grid-area: 3 / 2 / 4 / 3; }
    .divS7 { grid-area: 4 / 2 / 5 / 3; }
    .divS8 { grid-area: 4 / 1 / 5 / 2; }
    .divS2, .divS4, .divS6, .divS8 {
    margin-top: 60px;}
    .divS8, .divS7 {margin-bottom: 20px;}

    .parentS img {width: 10rem;
    height: 10rem;
    text-align: center;}